<label>Server Name</label>
<!-- <input type="text" 
class="form-control"
(input)="onUpdateServerName($event)"> -->
<!-- <input type="text" 
class="form-control"
[(ngModel)]="serverName"> -->
<!-- <p>{{serverName}}</p> -->

<input type="text" class="form-control" [(ngModel)]="username"> 
<p>The username is {{username}}</p>
<br>
<button class="btn btn-primary"
[disabled]="username == ''"
(click)="clearUsername()"
>Borrar</button>
<!-- <button 
class="btn btn-primary" 
[disabled]="!allowNewServer" 
(click)="onCreateServer()">Add Server</button> -->
<!-- <p [innerText]="allowNewServer"></p> -->

<app-server></app-server>
<app-server></app-server>
