<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm in the app component</h3>
            <app-servers></app-servers>
            <app-success></app-success>
            <!-- <div app-servers></div> -->
            <!-- <div class="app-servers"></div> -->
        </div>
    </div>
</div>